.raceCard {
  composes: card from "@/app/shared.module.css";
  grid-column: 1 / 7;
}

.committeeCard {
  composes: card from "@/app/shared.module.css";
  grid-column: 7 / 13;
}

.cardSection {
  &:not(:last-child) {
    padding-bottom: 3rem;
  }
}

.cardSubsection {
  padding-left: 1rem;
}

.candidateResultWithImage {
  display: flex;
  align-items: center;
  white-space-collapse: preserve;
  margin-top: 1rem;
}
