.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: inherit;
}

.spendingCards {
  display: grid;
  gap: inherit;
  grid-template-columns: repeat(2, minmax(10rem, 25rem));
  margin: 0 auto;
}

.raceAndCommitteeSection {
  display: flex;
  gap: inherit;
}

.raceCard {
  composes: card from "@/app/shared.module.css";
  width: 50%;
}

.committeeCard {
  composes: card from "@/app/shared.module.css";
  width: 50%;
}

.cardSection {
  &:not(:last-child) {
    padding-bottom: 3rem;
  }
}

.cardSubsection {
  padding-left: 1rem;
}

.candidateResultWithImage {
  display: flex;
  align-items: center;
  white-space-collapse: preserve;
  margin-top: 1rem;
}

.skeletonContainer {
  width: 100%;
  overflow: hidden;
}

@media (max-width: 767px) {
  .raceAndCommitteeSection {
    flex-direction: column;
  }

  .raceCard,
  .committeeCard {
    width: 100%;
  }
}
