.page {
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
  gap: 1rem;
  width: 100%;
}

.imageAndName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
  text-align: center;
}

.imageAndNameSkeleton {
  composes: imageAndName;
  justify-content: center;
}

.descriptionSkeleton {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.individualImage {
  max-width: 20rem;
  max-height: 10rem;
  object-fit: contain;
}

.imageSkeleton {
  flex-shrink: 0;
}

.individualName {
  composes: titleH3 from "@/app/shared.module.css";
  margin: 0;
}

.plainList {
  composes: plainList from "@/app/shared.module.css";
  display: inline;
  margin: 0;
}

.plainListItem {
  composes: plainListItem from "@/app/shared.module.css";
  display: inline;
  &:not(:last-child):after {
    content: ", ";
  }
}

.description {
  margin-top: 1rem;
}

.contributionSection {
  composes: card from "@/app/shared.module.css";
  width: 100%;
  padding: 1rem 0;
}

.contributionSectionHeader {
  padding: 0 1rem;
  font-size: 1.5rem;
}

.spendingWrapper {
  composes: constrainedWrapper from "@/app/shared.module.css";
}

.spendingByPartySection {
  composes: card from "@/app/shared.module.css";
  width: 100%;
  max-width: 40rem;
  padding: 1rem;
}

@media (min-width: 576px) {
  .imageAndName {
    flex-direction: row;
    gap: 2rem;
    text-align: left;
  }

  .descriptionSkeleton {
    align-items: flex-start;
  }

  .individualName {
    text-align: left;
  }

  .individualImage {
    max-width: 20rem;
  }
}

@media (min-width: 1000px) {
  .page {
    flex-direction: row;
  }

  .contributionSection {
    width: 66%;
  }

  .spendingWrapper {
    width: 33%;
  }
}
