.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.mapContainer {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}

.statesTableCard {
  composes: cardWithTable from "@/app/shared.module.css";
  width: 28rem;
}

.statesTableHeader {
  padding: 1rem 1rem 0 1rem;
}

.statesTable {
  width: 100%;
}

.headerRow {
  font-weight: bold;
}

@media (min-width: 576px) {
  .mapContainer {
    padding: 2rem;
  }
}
