.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: inherit;
}

.description {
  margin-top: 1rem;
}

.committeeWrapper {
  display: flex;
  gap: inherit;
  align-items: flex-start;
}

.committeeName {
  composes: titleH3 from "@/app/shared.module.css";
  margin: 0;
  text-align: left;
}

.moneyCardRow {
  display: grid;
  gap: inherit;
  grid-template-columns: repeat(2, minmax(10rem, 25rem));
  margin: 0 auto;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: inherit;
}

.receiptsSection {
  composes: fullWidth from "@/app/shared.module.css";
  text-align: center;
}

.receipts {
  composes: accent-text from "@/app/shared.module.css";
  font-size: 3rem;
  margin-bottom: 0;
}

.raisedDetails {
  margin-top: 1rem;
}

.constrainedWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: inherit;
  width: 100%;
}

.constrainWidth {
  max-width: 40rem;
  width: 100%;
  height: 100%;
}

.donorSection {
  composes: card from "@/app/shared.module.css";
  width: 66%;
  padding: 1rem 0;
}

.donorSectionHeader {
  padding: 0 1rem;
  font-size: 1.5rem;
}

.donorRow {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &:nth-child(even) {
    background: var(--table-background-secondary);
  }
}

.donorSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.redactedName {
  font-style: italic;
  margin-right: 0.2rem;
}

.donorBlock {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.contributionsContainer {
  display: flex;
  flex-direction: column;
}

.donorSubRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  padding: 0.5rem 0;
  font-size: 1rem;
}

.subRowCurrency {
  color: var(--secondary-text);
}

.donorOccupation {
  color: var(--secondary-text);
  font-style: italic;
}

.donorCompany {
  font-weight: bold;
}

.aliasAndDate {
  align-items: center;
}

.donorDate {
  font-size: 1rem;
  align-self: center;
  white-space-collapse: preserve;
}

.donorDateRange {
  margin-left: 1rem;
}

.topLevelContribution {
  color: var(--main-text);
}

.disbursementsCard {
  composes: card from "@/app/shared.module.css";
  composes: constrainWidth;
  align-self: flex-start;
}

.committeeDisbursementsList {
  list-style: none;
  padding: 0;
}

.committeeDisbursementsListItem {
  display: flex;
  justify-content: space-between;
  padding: 0.25em 0;
}

@media (max-width: 576px) {
  .moneyCardRow {
    grid-template-columns: minmax(16rem, 25rem);
  }

  .donorSubRow {
    margin-left: 0;
    align-items: flex-start;
  }

  .donorBlock {
    flex-direction: column;
    align-items: flex-start;
  }

  .donorOccupation,
  .donorDate {
    display: block;
    align-self: unset;
  }
}

@media (min-width: 577px) {
  .donorOccupation {
    &:before {
      content: " | ";
      font-style: normal;
    }
  }

  .donorDate {
    &:before {
      content: " – ";
      font-style: normal;
    }
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .constrainedWrapper {
    flex-direction: row;
  }
}

@media (max-width: 1000px) {
  .committeeWrapper {
    width: 100%;
    min-width: 20rem;
    max-width: 60rem;
    flex-direction: column-reverse;
    margin: 0 auto;
  }

  .donorSection,
  .rightColumn {
    width: 100%;
  }
}
