.description {
  margin-top: 1rem;
}

.receiptsSection {
  composes: fullWidth from "@/app/shared.module.css";
  text-align: center;
}

.receipts {
  composes: accent-text from "@/app/shared.module.css";
  font-size: 3rem;
  margin-bottom: 0;
}

.raisedDetails {
  margin-top: 1rem;
}

.donorSection {
  composes: fullWidthCard from "@/app/shared.module.css";
  padding: 1rem 0;
}

.donorSectionHeader {
  padding: 0 1rem;
  font-size: 1.5rem;
}

.donorRow {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &:nth-child(odd) {
    background: var(--table-background-secondary);
  }
}

.donorSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.redactedName {
  font-style: italic;
  margin-right: 0.2rem;
}

.donorBlock {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.contributionsContainer {
  display: flex;
  flex-direction: column;
}

.donorSubRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  padding: 0.5rem 0;
  font-size: 1rem;
}

.subRowCurrency {
  color: var(--secondary-text);
}

.donorOccupation {
  color: var(--secondary-text);
  font-style: italic;

  &:before {
    content: " | ";
    font-style: normal;
  }
}

.donorCompany {
  font-weight: bold;
}

.aliasAndDate {
  align-items: center;
}

.donorDate {
  font-size: 1rem;
  align-self: center;
  white-space-collapse: preserve;
}

.donorDateRange {
  margin-left: 1rem;
}

.topLevelContribution {
  color: var(--main-text);
}
