.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: inherit;
}

.spendingCards {
  display: grid;
  gap: inherit;
  grid-template-columns: repeat(2, minmax(10rem, 25rem));
  margin: 0 auto;
}

.raceAndCommitteeSection {
  display: flex;
  gap: inherit;
  align-items: flex-start;
}

.raceCard {
  composes: card from "@/app/shared.module.css";
  width: 50%;
  padding: 0;

  h2,
  h3 {
    padding: 1rem 1rem 0 1rem;
  }

  .cardSection:nth-child(odd) {
    background: var(--table-background-secondary);
  }
}

.committeeCard {
  composes: card from "@/app/shared.module.css";
  width: 50%;
}

.cardSection {
  padding-bottom: 2rem;
}

.cardSubsection {
  padding-left: 1rem;
}

.candidateGroup {
  padding: 0 1rem;
}

.candidateGroup + .candidateGroup {
  margin-top: 2rem;
}

.candidateResultWithImage {
  display: flex;
  align-items: center;
  white-space-collapse: preserve;
  margin-top: 1rem;
}

.skeletonContainer {
  width: 100%;
  overflow: hidden;
}

@media (max-width: 767px) {
  .raceAndCommitteeSection {
    flex-direction: column;
  }

  .raceCard,
  .committeeCard {
    width: 100%;
  }
}
