.mapWrapper {
  position: relative;
}

.svg {
  fill: var(--map-background);
  stroke: var(--secondary-text);
}

.svgText {
  fill: var(--main-text);
}

.legend {
  stroke: var(--secondary-text);
}

/* Skeleton */
.svgSkeleton {
  fill: transparent;
  stroke: var(--color-slate-300);
}

.stateFill0 {
  fill: var(--map-background);
}

.stateFill1 {
  fill: var(--color-blue-50);
}

.stateFill2 {
  fill: var(--color-blue-100);
}

.stateFill3 {
  fill: var(--color-blue-200);
}

.stateFill4 {
  fill: var(--color-blue-600);
}

.stateFill5 {
  fill: var(--color-blue-800);
}

@media (prefers-color-scheme: dark) {
  .skeletonMap {
    animation: pulseFillDark 1.2s linear alternate infinite;
  }

  .stateFill1 {
    fill: var(--color-blue-950);
  }

  .stateFill2 {
    fill: var(--color-blue-900);
  }

  .stateFill3 {
    fill: var(--color-blue-800);
  }

  .stateFill4 {
    fill: var(--color-blue-600);
  }

  .stateFill5 {
    fill: var(--color-blue-400);
  }
}

/* Tooltip */
.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  composes: card from "../../shared.module.css";
}

.tooltipTotalSpending {
  font-weight: bold;
}

.tooltipTableRaceRow {
  color: var(--link-text);
  cursor: pointer;
  &:hover {
    color: var(--link-text-hover);
  }
}

.tooltipTableName {
  white-space: nowrap;
}

.tooltipTableSpending {
  padding-left: 1rem;
  text-align: right;
}
