.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.mapRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.mapContainer {
  width: 66%;
  min-width: 25rem;
}

.statesTableCard {
  composes: cardWithTable from "@/app/shared.module.css";
  width: 28rem;
}

.statesTableHeader {
  padding: 1rem 1rem 0 1rem;
}

.statesTable {
  width: 100%;
}

.headerRow {
  font-weight: bold;
}

@media (min-width: 576px) {
  .mapContainer {
    padding: 2rem;
  }
}
