.candidateInfoBlock {
  display: flex;
  align-items: center;
  white-space-collapse: preserve;
}

.candidateImageWrapper {
  flex-shrink: 0;
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  width: 58px;
  height: 58px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: var(--placeholder-color);
}

.chartCandidateImageWrapper {
  width: 24px;
  height: 24px;
  border-width: 2px;
}

.candidateImage {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.noMargins {
  margin-left: 0;
}

.chartCandidateImage,
.chartPlaceholderImage {
  width: 20px !important;
  height: 20px !important;
}

.placeholderImage {
  width: 50px;
  height: 50px;
}

.unknownCandidateQuestionMark {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--card-background);
  font-weight: bold;
  font-size: 300px;
}

.unknownCandidateText {
  color: var(--secondary-text);
  font-style: italic;
}

.defeatedCandidateImage {
  position: relative;
  &:after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 96 96" enable-background="new 0 0 96 96" xml:space="preserve"><polygon fill="red" points="96,14 82,0 48,34 14,0 0,14 34,48 0,82 14,96 48,62 82,96 96,82 62,48 "/></svg>');
    position: absolute;
    top: -4px;
    left: -4px;
    width: 60px;
    height: 60px;
  }
}

.party-R {
  border-color: var(--party-republican);
}

.party-D {
  border-color: var(--party-democrat);
}

.party-L {
  border-color: var(--party-libertarian);
}

.party-G {
  border-color: var(--party-green);
}

.party-I {
  border-color: var(--party-independent);
}

.party-unknown {
  border-color: var(--party-unknown);
}

.party-loading {
  border-color: var(--skeleton-end);
}
