.mapWrapper {
  position: relative;
}

.svg {
  fill: var(--map-background);
  stroke: var(--secondary-text);
}

.svgText {
  fill: var(--main-text);
  stroke: none;
}

.legend {
  stroke: var(--secondary-text);
}

.activeState {
  font-weight: bold;
}

.svgSkeleton {
  fill: transparent;
  stroke: var(--color-neutral-300);
}

.mapLoadingError {
  composes: section from "@/app/shared.module.css";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 15rem;
  max-height: 5rem;
}

.stateFillError {
  fill: rgba(0, 0, 0, 0);
}

.stateFill0 {
  fill: var(--map-background);
}

.stateFill1 {
  fill: #f2f9e0;
}

.stateFill2 {
  fill: #d6ed8f;
}

.stateFill3 {
  fill: #b8db3d;
}

.stateFill4 {
  fill: #7ab800;
}

.stateFill5 {
  fill: #5a8a00;
}

.stateFill6 {
  fill: #3a5c00;
}

.stateFill7 {
  fill: #1e2f00;
}

.stateFill1,
.stateFill2,
.stateFill3,
.stateFill4,
.stateFill5,
.stateFill6,
.stateFill7 {
  cursor: pointer;
}

.stateLink {
  &:hover,
  &:focus,
  &:active {
    filter: brightness(0.9);
    outline: none;
  }
}

@media (prefers-color-scheme: dark) {
  .svgSkeleton {
    stroke: var(--secondary-text);
  }

  /* TODO: Update for green */
  .stateFill1,
  .stateFill2,
  .stateFill3,
  .stateFill4,
  .stateFill5,
  .stateFill6,
  .stateFill7 {
    fill: var(--color-blue-400);
  }

  .stateFill1 {
    fill-opacity: 0.2;
  }

  .stateFill2 {
    fill-opacity: 0.3;
  }

  .stateFill3 {
    fill-opacity: 0.4;
  }

  .stateFill4 {
    fill-opacity: 0.5;
  }

  .stateFill5 {
    fill-opacity: 0.6;
  }

  .stateFill6 {
    fill-opacity: 0.8;
  }

  .stateFill7 {
    fill-opacity: 1;
  }

  .stateLink {
    &:hover,
    &:focus,
    &:active {
      filter: brightness(1.3);
    }
  }
}
