.card {
  composes: card from "@/app/shared.module.css";
  grid-area: byParty;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.svgWrapper {
  overflow: hidden;
}

.svg {
  width: 100%;
  height: 100%;
  fill: var(--main-text);
}

.svgText {
  fill: var(--main-text);
}

.expendituresBarLabel {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.25rem;
  font-size: 0.9rem;
  color: var(--color-slate-200);
}

.supportOpposeLabel {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

.skeletonBar {
  fill: var(--chart-skeleton);
}
