.card {
  composes: card from "@/app/shared.module.css";
  grid-area: byParty;
  display: flex;
  flex-direction: column;
}

.svgWrapper {
  overflow: hidden;
  height: 20rem;
}

.growWrapper {
  flex-grow: 1;
}

.svg {
  width: 100%;
  height: 100%;
  fill: var(--main-text);
}

.svgText {
  fill: var(--main-text);
}

.expendituresBarLabel {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  hyphens: auto;
  padding: 0.25rem;
  font-size: 0.8rem;
  color: var(--color-slate-200);
}

.expendituresBarLabelOffBar {
  composes: expendituresBarLabel;
  display: flex;
  height: 100%;
  align-items: flex-end;
  color: var(--main-text);
}

.expendituresBarLabelSpan {
  min-width: 0;
}

.supportOpposeLabel {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

.skeletonBar {
  fill: var(--chart-skeleton);
}

.partyLabel {
  text-align: center;
  font-weight: bold;
}

.footerLink {
  justify-self: flex-end;
}

@media (min-width: 768px) and (max-width: 1000px) {
  .expendituresBarLabel {
    font-size: 0.6rem;
  }
}
