.footer {
  width: 100%;
  border-top: 1px solid var(--color-neutral-200);
  font-size: 0.9rem;
  color: var(--color-neutral-400);
}

.footerContents {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 20px 24px;
}

.description,
.links {
  margin-bottom: 0.5rem;
}

.copyright {
  font-size: 0.7rem;
  margin: 0;
}

.links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.links a + a::before {
  content: "·";
  margin-right: 0.5rem;
  user-select: none;
}
