.header {
  background-color: var(--card-background);
}

.logo {
  composes: accent-text from "@/app/shared.module.css";
  padding: 1rem;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.logoText {
  color: transparent;
  text-decoration: none;
}

.breadcrumbsContainer {
  display: flex;
  padding: 1rem;
  margin: 0;
  list-style: none;
  background-color: var(--breadcrumbs-background);
}

.breadcrumb {
  color: var(--on-dark-text);

  &:not(:last-child):after {
    content: "›";
    padding: 0 0.5rem;
  }
}

.breadcrumbLink {
  color: var(--on-dark-text);
}
