.recentExpenditureRow {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    border-bottom: 1px solid var(--table-color);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}

.expenditureDescription {
  font-size: 0.9rem;
  color: var(--secondary-text);
}

.expenditureParty {
  font-size: 0.9rem;
}

.expenditureNameAndAmount {
  display: flex;
  justify-content: space-between;
}

.expenditureAmount {
  font-variant-numeric: tabular-nums;
  font-weight: 600;
}

.expenditureTarget {
  margin-right: 0.25rem;
}

.tableCardContent {
  padding: 1rem;
}
