@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}

.skeleton {
  background: linear-gradient(
    -90deg,
    var(--skeleton-start) 0%,
    var(--skeleton-end) 50%,
    var(--skeleton-start) 100%
  );
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
  width: 100%;
  height: 1rem;
  margin-bottom: 0.5rem;
}

.skeletonCard {
  composes: skeleton;
  background: linear-gradient(
    -90deg,
    var(--skeleton-on-card-start) 0%,
    var(--skeleton-on-card-end) 50%,
    var(--skeleton-on-card-start) 100%
  );
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
}
