.inheritBorderRadius {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.superPacCard,
.influencedCard,
.recentExpendituresCard {
  composes: cardWithTable from "@/app/shared.module.css";
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.superPacTable,
.influencedTable {
  composes: inheritBorderRadius;
  width: 100%;
  flex-grow: 1;
}

.superPacTableHeader,
.influencedTableHeader {
  composes: inheritBorderRadius;
  position: sticky;
  top: 0;
  background-color: var(--card-background);
  border-radius: inherit;
}

.superPacRow,
.influencedTableRow {
  &:nth-child(odd) {
    background: var(--table-background-secondary);
  }
}

.superPacErrorRow {
  height: 10rem;
  text-align: center;
}

.superPacCryptoRow {
  background-color: var(--table-highlight-color);
}

.superPacTableCellMinWidth {
  min-width: 7rem;
}

.tableCardContent {
  padding: 1rem;
}

.viewMoreLinks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.25rem;
}

.viewMoreLink:not(:last-child) {
  margin-right: 1rem;
}

/* Fallback for very small viewports */
.influencedList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.influencedRow {
  composes: influencedTableRow;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  white-space-collapse: preserve;
  padding: 0.5rem 0.5rem 0.5rem 0;
  gap: 0.5rem 0;
}

.influencedRowOutcome {
  margin-top: 0.5rem;
}

@media (max-width: 1000px) {
  .tableCellCollapse1 {
    display: none;
  }
}

@media (max-width: 800px) {
  .tableCellCollapse2 {
    display: none;
  }
}
