.inheritBorderRadius {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.superPacCard,
.influencedCard,
.recentExpendituresCard {
  composes: cardWithTable from "@/app/shared.module.css";
  position: relative;
  display: flex;
  flex-direction: column;
}

.influencedCard {
  grid-area: influencedCard;
}

.superPacCard {
  grid-area: superPacCard;
}

.superPacCard {
  padding-bottom: 0.5rem;
}

.overflowWrapper {
  composes: hasFade from "@/app/shared.module.css";
  max-height: 100%;
  overflow-y: auto;
}

.noOverflow {
  composes: inheritBorderRadius;
  padding-bottom: 0.5rem;
}

.superPacTable,
.influencedTable {
  composes: inheritBorderRadius;
  width: 100%;
}

.superPacTableHeader,
.influencedTableHeader {
  composes: inheritBorderRadius;
  position: sticky;
  top: 0;
  background-color: var(--card-background);
  border-radius: inherit;
}

.superPacRow,
.influencedTableRow {
  &:nth-child(odd) {
    background: var(--table-background-secondary);
  }
}

.superPacErrorRow,
.influencedErrorRow {
  height: 10rem;
  text-align: center;
}

.superPacCryptoRow {
  background-color: var(--table-highlight-color);
}

.superPacTableCellMinWidth {
  min-width: 7rem;
}

.tableCardContent {
  padding: 1rem;
}

.viewMoreLink:not(:last-child) {
  margin-right: 1rem;
}

/* Fallback for very small viewports */
.influencedRow {
  composes: influencedTableRow;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space-collapse: preserve;
  padding: 0.5rem 0;
  gap: 0.5rem 0;
}

@media (max-width: 1000px) {
  .tableCellCollapse1 {
    display: none;
  }
}

@media (max-width: 800px) {
  .tableCellCollapse2 {
    display: none;
  }
}
