:root {
  --max-width: 2000px;
  --border-radius: 8px;

  --color-black: #000;
  --color-white: #fff;
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;

  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;
  --color-blue-950: #172554;

  --color-red-400: #f87171;
  --color-red-800: #991b1b;

  --color-green-400: #4ade80;
  --color-green-700: #15803d;

  --accent: var(--color-blue-600);

  --party-republican: #e81b23;
  --party-democrat: #3333ff;
  --party-libertarian: #fed105;
  --party-green: #17aa5c;
  --party-independent: #ddddbb;

  --background-start: var(--color-slate-50);
  --background-end: var(--color-slate-300);
  --card-background: #fefefe;
  --card-background-rgb: 254, 254, 254;
  --card-border: var(--color-slate-200);
  --breadcrumbs-background: var(--color-blue-800);
  --map-background: var(--color-white);
  --placeholder-color: var(--color-slate-300);
  --table-color: var(--color-slate-200);
  --table-highlight-color: var(--color-blue-100);
  --table-background-secondary: var(--color-slate-100);

  --main-text: var(--color-slate-950);
  --text-stroke: var(--color-slate-950);
  --secondary-text: var(--color-slate-500);
  --link-text: var(--accent);
  --link-text-hover: #0a338a;
  --on-dark-text: var(--color-slate-200);

  --skeleton-start: var(--color-slate-300);
  --skeleton-end: #bbc8d8;
  --skeleton-on-card-start: var(--color-slate-200);
  --skeleton-on-card-end: #dbe3ed;

  --background-gradient: radial-gradient(
    circle at center,
    var(--background-start) 0%,
    var(--background-end) 100%
  );
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start: var(--color-slate-900);
    --background-end: var(--color-slate-950);
    --card-background: var(--color-slate-800);
    --card-background-rgb: 30, 41, 59;
    --card-border: var(--color-slate-700);
    --map-background: var(--card-background);
    --placeholder-color: var(--color-slate-300);
    --table-color: var(--color-slate-700);
    --table-highlight-color: var(--color-blue-900);
    --table-background-secondary: var(--color-slate-900);

    --main-text: var(--color-slate-200);
    --text-stroke: var(--color-slate-200);
    --secondary-text: var(--color-slate-400);
    --link-text: #a0bcf8;
    --link-text-hover: #c1cff0;

    --skeleton-start: var(--color-slate-800);
    --skeleton-end: #212e42;
    --skeleton-on-card-start: var(--color-slate-700);
    --skeleton-on-card-end: #37465b;

    --party-republican: #a61117;
    --party-democrat: #0000e6;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--main-text);
  background: var(--background-start);
  background-image: var(--background-gradient);
  line-height: 1.3;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-block-end: 0.5em;
}

a {
  color: var(--link-text);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

p {
  margin-top: 0;
}

table {
  border-collapse: collapse;

  td,
  th {
    padding: 0.5rem;
  }
}

table.condensed {
  td,
  th {
    padding: 0;
  }
}

table.lined {
  td,
  th {
    border: 1px solid var(--table-color);
  }
}

.text-cell {
  text-align: left;
}

.long-text-cell {
  text-align: left;
  min-width: 10rem;
}

.center-cell {
  text-align: center;
}

.number-cell {
  text-align: right;
}

.no-wrap {
  white-space: nowrap;
}

iframe {
  border-width: 0;
}

.row {
  display: flex;
  flex-direction: row;
  gap: inherit;
}

.margin-0-auto {
  margin: 0 auto;
}

.no-margin {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.secondary {
  color: var(--secondary-text);
}

.small {
  font-size: 0.9rem;
}

.smaller {
  font-size: 0.8rem;
}

a.unstyled {
  color: inherit;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
