.mainGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 4rem 1rem;
  padding: 0.5rem;
  max-width: var(--max-width);
  margin: 0 auto;
}

@media (min-width: 500px) {
  .mainGrid {
    padding: 0.5rem 2rem;
  }
}

@media (min-width: 700px) {
  .mainGrid {
    padding: 0.5rem 4rem;
  }
}

@media (min-width: 800px) {
  .mainGrid {
    padding: 0.5rem 6rem;
  }
}
