.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.title {
  composes: accent-text from "@/app/shared.module.css";
  text-shadow: 0.25rem 0.25rem var(--accent);
  font-size: clamp(2rem, 10vw, 6rem);
  text-align: center;
  margin: 0 2rem;
}

.logoArrow {
  composes: title;
  font-weight: bold;
  font-size: 6rem;
}

.totalsRow {
  display: grid;
  gap: inherit;
  grid-template-columns: repeat(2, minmax(10rem, 25rem));
  margin: 0 auto;
}

.mainCards {
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 20rem 20rem 40rem;
  grid-template-areas:
    "influencedCard byParty"
    "influencedCard byCommittee"
    "superPacCard expenditures";
}

.spentTopSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.4rem;
}

.expendituresByCommitteeCard {
  composes: card from "@/app/shared.module.css";
  grid-area: byCommittee;
  display: flex;
  flex-direction: column;
}

.recentExpenditures {
  composes: cardWithTable from "@/app/shared.module.css";
  grid-area: expenditures;
  position: relative;
  display: flex;
  flex-direction: column;
}

.recentExpendituresWrapper {
  max-height: unset;
  height: 100%;
}

@media (max-width: 768px) {
  .totalsRow {
    grid-template-columns: minmax(10rem, 25rem);
  }
}
