.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.title {
  composes: accent-text from "@/app/shared.module.css";
  display: flex;
  justify-content: center;
  margin: 0 2rem;
}

.titleH1 {
  display: block;
  text-align: center;
  font-size: clamp(2rem, 5vw, 6rem);
  margin: 0;
}

.logoArrow {
  composes: accent-text from "@/app/shared.module.css";
  display: flex;
  font-weight: bold;
  font-size: clamp(2rem, 5vw, 6rem);
}

.totalsRow {
  display: grid;
  gap: inherit;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

.mainCards {
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(20rem, 1fr);
  grid-template-rows: repeat(2, 20rem) repeat(3, auto);
  grid-template-areas:
    "allCash"
    "byCommittee"
    "byParty"
    "influencedCard"
    "superPacCard"
    "expenditures";
}

.spentTopSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.4rem;
}

.allCashCard {
  composes: card from "@/app/components/expenditures.module.css";
  grid-area: allCash;
}

.expendituresByCommitteeCard {
  composes: card from "@/app/components/expenditures.module.css";
  grid-area: byCommittee;
}

.recentExpenditures {
  composes: cardWithTable from "@/app/shared.module.css";
  grid-area: expenditures;
  position: relative;
  display: flex;
  flex-direction: column;
}

.recentExpendituresWrapper {
  height: 100%;
}

@media (min-width: 576px) {
  .totalsRow {
    grid-template-columns: repeat(3, minmax(10rem, 25rem));
  }

  .titleH1,
  .logoArrow {
    text-shadow: 0.25rem 0.25rem var(--accent);
  }
}

@media (min-width: 768px) {
  .mainCards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20rem repeat(3, auto);
    grid-template-areas:
      "allCash byCommittee byParty"
      "influencedCard influencedCard"
      "superPacCard superPacCard"
      "expenditures expenditures";
  }
}

@media (min-width: 1200px) {
  .mainCards {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 20rem 20rem auto;
    grid-template-areas:
      "influencedCard allCash"
      "influencedCard byCommittee"
      "superPacCard byParty"
      "superPacCard expenditures";
  }
}
