.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.title {
  composes: accent-text from "@/app/shared.module.css";
  display: flex;
  justify-content: center;
  margin: 0 2rem;
}

.titleH1 {
  display: block;
  text-align: center;
  font-size: clamp(2rem, 5vw, 6rem);
  margin: 0;
}

.logoArrow {
  composes: accent-text from "@/app/shared.module.css";
  display: flex;
  font-weight: bold;
  font-size: clamp(2rem, 5vw, 6rem);
}

.totalsRow {
  display: grid;
  gap: inherit;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

.columns {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 1rem;
  grid-template-areas:
    "influencedCard"
    "companySpending"
    "companyMap"
    "superPacMap"
    "allCash"
    "byCommittee"
    "expenditures"
    "byParty"
    "superPacCard";
}

.mainColumn,
.sideColumn {
  display: contents;
}

.companyMap {
  composes: card from "@/app/shared.module.css";
  grid-area: companyMap;
}

.superPacMap {
  composes: card from "@/app/shared.module.css";
  grid-area: superPacMap;
}

.spentTopSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.4rem;
}

.companySpendingCard {
  composes: card from "@/app/components/expenditures.module.css";
  grid-area: companySpending;
}

.allCashCard {
  composes: card from "@/app/components/expenditures.module.css";
  grid-area: allCash;
}

.expendituresByCommitteeCard {
  composes: card from "@/app/components/expenditures.module.css";
  grid-area: byCommittee;
}

.recentExpenditures {
  composes: cardWithTable from "@/app/shared.module.css";
  grid-area: expenditures;
  position: relative;
  display: flex;
  flex-direction: column;
}

.recentExpendituresWrapper {
  height: 100%;
}

@media (max-width: 400px) {
  .hideImageXs {
    display: none;
  }
}

@media (min-width: 576px) {
  .totalsRow {
    grid-template-columns: repeat(2, minmax(10rem, 25rem));
  }
  .titleH1,
  .logoArrow {
    text-shadow: 0.25rem 0.25rem var(--accent);
  }
}

@media (min-width: 768px) {
  .totalsRow {
    grid-template-columns: repeat(3, minmax(10rem, 25rem));
  }
  .columns {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "mainColumn sideColumn";
  }

  .mainColumn,
  .sideColumn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .mainColumn {
    grid-area: mainColumn;
  }

  .sideColumn {
    grid-area: sideColumn;
  }
}

@media (min-width: 1200px) {
  .columns {
    grid-template-columns: 3fr 2fr;
  }
}
