.mainLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  gap: 1rem;
  padding: 0.5rem 1rem;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}

.mainWithHeader {
  margin-top: 1rem;
}

.accent-text {
  font-family: var(--font-display);
  font-weight: 400;
}

.title {
  font-size: clamp(3rem, 10vw, 4rem);
  margin: 0;
}

.titleH2 {
  font-size: clamp(2rem, 8vw, 3rem);
}

.titleH3 {
  font-size: clamp(1rem, 6vw, 1.5rem);
}

.card {
  background: var(--card-background);
  border: 1px solid var(--card-border);
  padding: 1rem;
}

.section {
  border-top: 2px solid var(--color-black);
  padding: 1rem 0;
}

.errorCardContent {
  height: 100%;
  padding: 0 1rem 1rem 1rem;
}

.errorCardContentStandalone {
  height: 100%;
  padding: 1rem;
  min-height: 5rem;
}

.smallCard {
  composes: card;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  color: var(--secondary-text);
  min-width: 15rem;
  max-width: 25rem;
}

.smallCardSkeleton {
  composes: smallCard;
  display: flex;
  justify-content: center;
}

.moneyCardHeader {
  color: var(--main-text);
  text-transform: uppercase;
}

.constrainedWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: inherit;
  width: 100%;
}

.constrainWidth {
  max-width: 40rem;
  width: 100%;
  height: 100%;
}

.highlight {
  composes: accent-text;
  padding: 0.25rem 0 0.5rem 0;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-black);
}

.sectorBadge {
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 0.6rem;
  text-transform: uppercase;
  padding: 0.1rem 0.25rem;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.plainList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plainListItem {
  padding: 0.5rem 0;
}

.hasFade {
  mask-size: 100% 100%;
  mask-position:
    0 0,
    100% 0;
  mask-repeat: no-repeat, no-repeat;
}

.goalAccomplished,
.checkmark {
  fill: var(--color-green-700);
  max-width: 1rem;
}

.goalFailed,
.xMark {
  fill: var(--color-red-600);
  max-width: 1rem;
}

.goalMixed {
  fill: var(--main-text);
  max-width: 1rem;
  font-weight: bold;
}

.goalInline {
  max-height: 100%;
}

.linkRow {
  margin-top: 0.5rem;
}

.floatRight {
  float: right;
}

.noMargin {
  margin: 0;
}

.noMarginBottom {
  margin-bottom: 0;
}

.noMarginBottomHalfLeft {
  margin-bottom: 0;
  margin-left: 0.5rem;
}

.marginBottom1 {
  margin-bottom: 1rem;
}

@media (min-width: 500px) {
  .highlight {
    font-size: clamp(2rem, 5vw, 3rem);
    white-space: nowrap;
  }
}
