.editorCard {
  composes: card from "@/app/shared.module.css";
  display: flex;
  flex-direction: column;
}

.editorSelect {
  margin-bottom: 1rem;
  align-self: flex-start;
}

.editorInputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.editorInput {
  align-self: flex-start;
}

.constantsTable {
  border-collapse: collapse;
}

.constantsTable td,
.constantsTable th {
  padding: 0.75rem 0.5rem;
  border-bottom: 1px solid #ddd;
}

.adGrid {
  display: grid;
  grid-template-columns: [ad] 1fr [region] 1fr;
  grid-gap: 1rem;
}

.adCard {
  grid-column: ad;
}

.adRegion {
  grid-column: region;
}
