.editorCard {
  composes: fullWidthCard from "@/app/shared.module.css";
  display: flex;
  flex-direction: column;
}

.editorSelect {
  margin-bottom: 1rem;
  align-self: flex-start;
}

.editorInputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.editorInput {
  align-self: flex-start;
}
