.raceSummaryCard {
  composes: fullWidthCard from "@/app/shared.module.css";
  display: grid;
  grid-template-columns: [left] 1fr [right] 1fr;
  gap: 2rem;
}

.raceSummaryDetails {
  grid-column: span 2;
}

.raceCandidates {
  grid-column: left;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.5rem;
}

.spendingHeader {
  grid-column: span 4;
}

.candidates {
  grid-column: left;
  display: grid;
  grid-template-columns: [candidate] fit-content(50%) [support] 12ch [oppose] 12ch [notes] auto;
  gap: 0.5rem 1rem;
  align-items: center;
}

.candidate {
  grid-column: candidate;
}

.candidateSupportHeader {
  grid-column: support;
  font-weight: bold;
  text-align: right;
}

.candidateOpposeHeader {
  grid-column: oppose;
  font-weight: bold;
  text-align: right;
}

.candidateSupportOppose {
  text-align: right;
}

.activeCandidateName {
  font-weight: bold;
}

.defeatedCandidateName {
  font-style: italic;
  text-decoration: line-through;
}

.notes {
  color: var(--secondary-text);
  font-style: italic;
}

.spendingBreakdown {
  grid-column: right;
}

.noSpending {
  grid-column: right;
}

@media (min-width: 600px) {
  .candidates {
    column-gap: 2rem;
  }
}

@media (min-width: 1000px) {
  .raceCard {
    grid-column: 2 / 12;
  }
}
