.columns {
  composes: fullWidth from "@/app/shared.module.css";
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.electionsColumn,
.rightColumn {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.electionsColumn {
  composes: cardWithTable from "@/app/shared.module.css";
}

.electionsColumnHeader {
  padding: 1rem 1rem 0 1rem;
}

.adsHeader {
  margin-bottom: 1.5rem;
}

.raceSummary {
  grid-column: 1 / 7;
  padding: 1rem;

  &:nth-child(even) {
    background-color: var(--table-background-secondary);
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

.raceSummaryDetails {
  margin-bottom: 1rem;
}

.candidateExpendituresTable {
  width: 100%;
}

.candidateRow {
  border-bottom: 1px solid var(--table-color);
}

.candidateCell {
  width: 60%;
}

.noSpendingCell {
  vertical-align: middle;
  text-align: center;
  padding: 1rem;
}

.wonCandidateName {
  font-weight: bold;
}

.defeatedCandidateName {
  font-style: italic;
  text-decoration: line-through;
}

.notes {
  color: var(--secondary-text);
  font-style: italic;
}

/* Spending */
.spendingCard {
  composes: card from "@/app/shared.module.css";
}

.candidateLabel {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  font-size: 0.4rem;
}

.candidateLabelName {
  width: 3rem;
  word-wrap: break-word;
  hyphens: auto;
}

.spendingLegend {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 0.4rem;
  overflow: visible;
}

.cryptoSpendingLabel {
  fill: transparent;
}

.barLabel {
  height: 100%;
}

.outsideLabel {
  justify-content: flex-start;
  text-align: left;
}

.mainLayoutLine {
  stroke: var(--main-text);
}

.gridLabel {
  fill: var(--main-text);
}

.gridLine {
  stroke: var(--table-color);
}

.spendingBar {
  cursor: pointer;
  stroke-width: 0.5;
  stroke: var(--color-slate-600);
}

.raisedBar {
  fill: var(--color-slate-300);
}

.outside_supportBar {
  fill: var(--color-green-400);
}

.outside_opposeBar {
  fill: var(--color-red-400);
}

.barLabelCointainer {
  cursor: pointer;
  pointer-events: none;
}

.barLabel {
  display: flex;
  align-items: center;
  font-size: 0.35rem;
  color: var(--main-text);
}

.barLabelSupport {
  padding: 0.05rem;
  background-color: var(--color-green-400);
}

.barLabelOppose {
  padding: 0.05rem;
  background-color: var(--color-red-400);
}

.hugRight {
  justify-content: flex-end;
}

.hugLeft {
  justify-content: flex-start;
}

.labelOnBackground {
  color: var(--main-text);
}

/* Ads */
.adsCard {
  composes: card from "@/app/shared.module.css";
}

.adGroup {
  margin-top: 1rem;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.adEmbed {
  width: 100%;
  margin: 0.5rem 0;
}

.adTakedown {
  composes: adEmbed;
  background-color: var(--table-color);
  aspect-ratio: 16 / 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.adTakedownWarning {
  font-size: 4rem;
}

.adDetails {
  &:not(:last-child) {
    margin-right: 0.5rem;
  }
}

@media (min-width: 600px) {
  .candidates {
    column-gap: 2rem;
  }
}

@media (min-width: 1000px) {
  .raceCard {
    grid-column-start: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .mainLayoutLine {
    stroke: var(--color-slate-400);
  }

  .raisedBar {
    fill: var(--color-slate-500);
  }

  .cryptoSpendingLabel {
    fill: var(--color-slate-300);
  }

  .spendingBar {
    stroke: var(--color-slate-300);
  }

  .outside_supportBar {
    fill: var(--color-green-700);
  }

  .barLabelSupport {
    background-color: var(--color-green-700);
  }

  .outside_opposeBar {
    fill: var(--color-red-800);
  }

  .barLabelOppose {
    background-color: var(--color-red-800);
  }
}
