.columns {
  composes: fullWidth from "@/app/shared.module.css";
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.electionsColumn,
.adsCard {
  flex: 1 0 50%;
}

.electionsColumn {
  composes: cardWithTable from "@/app/shared.module.css";
}

.electionsColumnHeader {
  padding: 1rem 1rem 0 1rem;
}

.adsHeader {
  margin-bottom: 1.5rem;
}

.raceSummary {
  grid-column: 1 / 7;
  padding: 1rem;

  &:nth-child(even) {
    background-color: var(--table-background-secondary);
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

.raceSummaryDetails {
  margin-bottom: 1rem;
}

.candidateExpendituresTable {
  width: 100%;
}

.candidateRow {
  border-bottom: 1px solid var(--table-color);
}

.candidateCell {
  width: 60%;
}

.noSpendingCell {
  vertical-align: middle;
  text-align: center;
  padding: 1rem;
}

.wonCandidateName {
  font-weight: bold;
}

.defeatedCandidateName {
  font-style: italic;
  text-decoration: line-through;
}

.notes {
  color: var(--secondary-text);
  font-style: italic;
}

.adsCard {
  composes: card from "@/app/shared.module.css";
  grid-column: 7 / 13;
  grid-row: 1 / 2;
}

.adGroup {
  margin-top: 1rem;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.adEmbed {
  width: 100%;
  margin: 0.5rem 0;
}

.adTakedown {
  composes: adEmbed;
  background-color: var(--table-color);
  aspect-ratio: 16 / 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.adTakedownWarning {
  font-size: 4rem;
}

.adDetails {
  &:not(:last-child) {
    margin-right: 0.5rem;
  }
}

@media (min-width: 600px) {
  .candidates {
    column-gap: 2rem;
  }
}

@media (min-width: 1000px) {
  .raceCard {
    grid-column-start: 1;
  }
}
