.title {
  composes: accent-text from "@/app/shared.module.css";
  font-size: 3rem;
  text-align: left;
  margin: 1rem 0;
}

.subhead {
  composes: accent-text from "@/app/shared.module.css";
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: left;
}

.mainText {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.quoteCard {
  composes: card from "@/app/shared.module.css";
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem;
}

.quote {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

.quoteAttribution {
  color: var(--secondary-text);
  font-size: 1.5rem;
  text-align: right;
}

.quoteCardImage {
  max-width: 100%;
}

.footnotes {
  font-size: 0.9rem;
}

@media (min-width: 576px) {
  .title {
    font-size: 4rem;
  }

  .subhead {
    font-size: 3rem;
    line-height: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .quoteCard {
    width: 80%;
  }

  .quoteCardImage {
    max-width: 15rem;
  }
}

@media (min-width: 768px) {
  .quoteCard {
    flex-direction: row;
  }
}

@media (min-width: 1000px) {
  .quoteCard {
    width: 60%;
  }
}
